.header{
  text-align: center;
  padding : 20px 0;
  background-color: black;
  color: white;
}

.players-container{
  float: left;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 20px;
}